[hfc="$HFC_NAME"] {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  border-radius: 4px;
  border: 2px solid black;

  &:hover {
    background-color: #eee;
  }
}
